#coeur{
	margin: auto;
	color: red;
	/*background-color: green;*/
	font-size: 30px;
	text-align: center;
}

.bandeau{
	width:100%;
	padding-top: 1%;
}

#task_form{
	float: left;
	text-align: center;
	/*background-color: blue;*/
	font-size: 20px;
}

td, th {
	text-align: center;
}

#form{
/*	background-color: yellow;*/
}


@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.underline{
	text-decoration: underline;
}

h3{
	margin-top: 5px!important;
}
h2{
	margin-bottom: 0px!important;
	margin-top: 0px!important;
}


.imageProjet
{
  max-width: 20%;
  top: 100%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
  margin: 12px;
  margin-top: 0px
}